
.flight-detail {
    background: #fff;
    border-radius: 5px;
    opacity: 0.9;
    margin-left: 15px;
    padding: 6px;
    width: 100%;
    .no-flight {
        margin: 33px;
        font-size: 30px;
        padding: 10px;
    }
   .flight-detail__header {
        .flight-detail__trip {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            .flight-detail__city{
                font-size: 26px;
                font-weight: bold;
            }
            .flight-detail__time {
                font-size: 15px;
            }
       }
    }
 }

 @media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {
    .flight-detail {
        margin-left:0;
        width: auto;
        padding: 0;
        .flight-all {
            padding-top: 20px;
        }
        .flight-detail__header {
            .flight-detail__trip {
                display: block;
                padding: 15px;
                .flight-detail__city{
                    margin-bottom: 10px;
                }

           }
       }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
    .flight-detail {
        .flight-detail__header {
            .flight-detail__trip {
                display: block;
                padding: 15px;
                .flight-detail__city{
                    margin-bottom: 10px;
                }
           }
       }
    }
}